@media screen and (max-width:950px) {

    .nav-pages {
        display: none;
    }

    .nav-btns {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .cards-section {
        display: grid;
    }

    .achievments-section {
        display: grid;
        margin: auto;
        padding: 3rem;
    }

    .stat-section {
        margin-left: 0;
    }

    .content-text-centered {
        display: grid;
        margin: auto;
        justify-content: center;
        padding: 2rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    .community-2 {
        display: grid;
    }

    .community-2>img {
        width: 100%;
        margin: 0;
    }

    .community-2>.content>.client-logo-section>img{
        width: 10%;
    }

    footer{
        display: grid;
    }

    .footer-section{
        margin-bottom: 20px;
        padding: 40px 30px;
    }

    .social-bubble{
        width: 20px;
        height: 20px;
    }
}


@media screen and (max-width:1062px) {
    .wordmark {
        display: none;
    }


    .hero-title {
        margin: 10px 0;
    }

    .hero-title-text {
        font-size: 2rem;
    }

    .nav {
        justify-content: space-between;
    }

    

    .info-card-section {
        display: grid;
    }

    .info-card {
        margin-bottom: 55px;
    }

    .updates {
        padding: 200px 30px;
    }
}

@media screen and (max-width:1300px) {
    .achievements {
        display: grid;
        margin: auto;
        width: 100%;
        padding: 4rem;
    }
}