body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.nav{
    padding: 1rem;
    background-color: white;
    justify-content: center;
}

.active{
    font-weight: bolder;
    text-decoration: underline;
}

.nav-link{
    transition: 0.2s ease-in-out;
}

.nav-link:hover{
    font-weight: bold;
}

.btn{
    padding: 5px 20px;
    border: 1px solid #4CAF4F;
    border-radius: 4px;
    color: #4CAF4F;
    transition: 0.2s ease-in-out;
}

.btn-green{
    color: white;
    background-color: #4CAF4F;
}

.btn:hover{
    background-color: #579b5b;
    color:white;
}

.btn-green:hover{
    background-color: #54ce58;
    border: none;
}

.inter{
    background: #F5F7FA;
}

.green{
    color: #4CAF4F
}

.gray{
    color: #4D4D4D;
}

.title{
    color: #18191fc6;
    font-weight: 600;
    font-size: xx-large;
}

.section{
    width: 100%;
}

.wordmark{
    min-width: 100px;
}

.logo{
    min-width: 100px;
}

.dropdown{
    display: none;
    cursor: pointer;
    position: relative;
    padding: 20px;
}

.dropdown-items{
    display: none;
    z-index: 1000;
    background-color: #F5F7FA;
    padding: 10px;
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.dropdown-item{
    padding: 10px;
    text-align: center;
}

.hero-nav-bubble{
    background-color: #4caf4f4d;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 2px 5px;
    cursor: pointer;
}

.active-hero-nav-bubble{
    background-color: #4CAF4F;
}

.img-person{
    width: 80%;
}

.client-logo-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.cards-section{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card{
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    border: rgba(255, 255, 255, 0.542) solid;
    width: 40vb;
}

.achievements{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: center;
}

.achievements>.icon{
    margin: auto;
    width: 80%;
}

.achievments-section{
    display: flex;
    justify-content: center;
    padding: 8rem;
}

.stat-section{
    margin-left: 2rem;
}

.small-text{
    font-size: 0.75rem;
}

.updates{
    display: grid;
    padding: 100px 20vb;
    text-align: center;
    align-items: center;
}

.info-card-section{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.info-card {
    margin: 3px 0.5rem;
    display: flex;
    flex-direction: column;   /* Stack elements vertically */
    align-items: center;      /* Center elements horizontally */
    justify-content: space-between;  /* Space content evenly */
}

.info-card>img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;  /* Rounded corners for the top of the image */
}

.info-card-content {
    background-color: #F5F7FA;
    padding: 15px;
    width: 80%;
    text-align: center;   /* Center the text inside */
    border-radius: 0 0 10px 10px;  /* Rounded corners for the bottom */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);  /* Same shadow effect */
    z-index: 3;
    margin: -40px;
}

.info-card-content h2 {
    margin-bottom: 10px;
}

.community-2{
    padding: 10%;
    display: flex;
}

.community-2>img{
    width: 25%;
    margin: auto 20px;
}

.community-2>.content>.client-logo-section{
    justify-content: space-between;
    padding-left: 0;
    padding-right: 20px;
}

.muted{
    color: #717171;
}